/* Color Palette: https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373 */

* {
    box-sizing: border-box;
}

body {
    background-color: #FEFAE0;
}

h1 {
    background-color: #CCD5AE;
    padding: 10px;
    margin-bottom: 10px;
}

h3 {
    background-color: #D4A373;
    color: white;
    text-indent: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.recipe-list {
    font-size: 22px;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    /* border: 2px solid green; */
}

.recipe-list li {
    list-style: none;
}

.recipe-item {
    /* border: 2px solid red; */
    text-align: center;
}

.gallery {
    width: auto;
    height: 150px;
    margin-top: 2px;
}

.ingredients,
.steps {
    margin-bottom: 0px;
}

.ingredients-list,
.steps-list {
    background: #FAEDCD;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
}

li {
    margin-bottom: 7px;
}